<!DOCTYPE html>
<html>
    <head>
        <title>TODOExample Output Page</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <p>Dear @Model.Noun1,</p>
        <p>How are you? I hope that you are having a @Model.Adjective1 weekend. I'm vacationing in @Model.Country while I learn @Model.Noun2! </p>
        <p>@Model.Noun1, you would not believe how @Model.Adjective2 it is here. I should have @Model.PastTenseVerb to Hawaii instead.</p>
        <p>But I like @Model.Noun2 a lot, so I've got that going for me. </p>
        <p>Looking forward to @Model.IngVerb you soon. I'll bring you back a @Model.Noun3. </p>
        <p>Cheers,</p>
        <p>Travel Enthusiast @Model.Celebrity</p>
    </body>
</html>