<h1>Your packing list: <h1>

<h2>Name: @Model.ItemName</h2>
<h5>Price: @Model.ItemPrice</h5>
<h5>Weight (g) @Model.ItemMass</h5>
<h5>Bought: @Model.PurchaseOrNot</h5>
<h5>Packed: @Model.PackedOrNot</h5>

<a href="/equipment/new">Add another packing item</a>
<a href="/equipment">View all your packed items</a>